cors:
  allowed:
    origin: ${CORS_ALLOWED_ORIGIN}

app:
  cookie:
    secure: false

springdoc:
  override-with-generic-response: false

server:
  port: 8080

spring:
  profiles:
    group:
      local: local
      dev: dev
      prod: prod

  config:
    import:
      - classpath:application-jwt.yml
      - classpath:application-dbsource.yml
      - classpath:application-s3.yml
      - classpath:application-ai.yml
      - classpath:application-flyway.yml

  jpa:
    open-in-view: false

  servlet:
    multipart:
      max-file-size: 10MB      # 파일 1개 최대 크기
      max-request-size: 30MB   # multipart/form-data 요청 전체(여러 파일 + 폼필드 포함) 최대 크기


management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

---
spring:
  config:
    activate:
      on-profile: prod
app:
  cookie:
    secure: true

springdoc:
  swagger-ui:
    enabled: false

logging:
  level:
    root: WARN
    org.springframework.web.socket.config.WebSocketMessageBrokerStats: WARN

---
spring:
  config:
    activate:
      on-profile: dev
app:
  cookie:
    secure: true

logging:
  level:
    root: INFO
    org.springframework.web.socket.config.WebSocketMessageBrokerStats: WARN

---
spring:
  config:
    activate:
      on-profile: local
app:
  cookie:
    secure: false

logging:
  level:
    root: INFO
    org.springframework.web.socket.config.WebSocketMessageBrokerStats: WARN
    org.springframework.boot.context.config: TRACE
